body,html {
    padding:0;
    margin:0;
}

.small-cell {
    text-align: center;
    width:25%;
    vertical-align: middle;
}

.large-cell {
    width:75%;
}

.dark-head::before {
    content: " ";
    position: absolute;
    left:0;
    top:0;
    width: 100%;
    height: 100%;
    z-index: 0;
    opacity: 0.5;
    background-image: url("../img/assets/dark.jpg");
    background-position: center;
    margin:0;
    padding:0;
    z-index: -1;
}

.cell {
    display: inline-block;
}

td {
    padding-bottom:20px;
}
